.SearchForm {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SearchForm-field {
  width: 100%;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  outline: none;
}

.autocomplete {
  width: 1286px;
  top: 175px;
  left: 317px;
  position: absolute;
  list-style: none;
  padding: 10px 0;
  background: #f4f4f4;
}

.autocomplete-item {
  display: block;
  padding: 10px 20px;
}

.autocomplete-item:hover {
  background-color: #f1f1f1;
}